body{
background-image: url(images/family.jpg);
height: 100%;
width: 100%;
text-align: center;
font-weight: 400;
}
#title{
    color: rgb(17, 15, 14);
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    opacity: 75%;
    background-color:rgb(110, 129, 66);
}
#form1{
    text-align: left;
    font-size: x-large;
}
#submit{
    color: indigo;
    background-color: khaki;
    height: 40px;
    font-weight: 400;
}
#container{
    background-color: rgb(38, 59, 97);
    opacity: 80%;
    font-size: x-large;
    color: darkgoldenrod;
}