/* #container {
    background-color: aqua;
padding: 10px;
margin: 8px;
font-size: medium;
}
#form {
    background-color: rgb(95, 160, 130);
    padding: 15px;
    margin: 10px;
}
#name {
    background-color: coral;
}
#min1 {
    background-color: coral;
}
#max1 {
    background-color: coral;
}
#sales {
    background-color: coral;
}
body {
    background-color: rgb(105, 105, 216);
} */